{{#each this}}
<div class="photo-card">
  <a class="gallery__item" href="{{largeImageURL}}">
    <img src="{{webformatURL}}" alt="{{tags}}" loading="lazy" class="gallery__image">
    <div class="info">
      <p class="info-item">
        <b>Likes</b>
        <span class="info-data">{{likes}}</span>
      </p>
      <p class="info-item">
        <b>Views</b>
        <span class="info-data">{{views}}</span>
      </p>
      <p class="info-item">
        <b>Comments</b>
        <span class="info-data">{{comments}}</span>
      </p>
      <p class="info-item">
        <b>Downloads</b>
        <span class="info-data">{{downloads}}</span>
      </p>
    </div>
  </a>
</div>
{{/each}}
